consplot/
noncode/
dataproject/old/

dataproject/exports/

dataprojects/csv/brightcopy.csv
dataprojects/csv/brightstarsCOMBINEDBACKUP.csv
dataprojects/csv/brightstarsotherstars.csv
dataprojects/csv/brightstarsraw.csv
dataprojects/csv/consStars.csv